@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  background-color: #141414;
}

a {
  text-decoration: none;
}

.section .section-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(1224px + 160px); 
  margin: 0 auto;
  padding: 0 80px;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 768px) {
  .section .section-content {
    padding: 0 40px;
  }
}

@media (max-width: 425px) {
  .section .section-content {
    padding: 0 24px;
    max-width: calc(1224px + 48px);
  }
}

.section .section-title {
  text-shadow: 0px 0px 20px #000000b2;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  color: #F7F7F7;
  font-size: 60px;
  letter-spacing: 0;
  line-height: 56px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .section .section-title {
    font-size: 48px;
    line-height: 56px;
  }
}

@media (max-width: 425px) {
  .section .section-title {
    font-size: 40px;
    line-height: 40px;
  }
}

.section-intro {
  background-color: #141414;
  height: 917px;
  position: relative;
}

.section-intro .section-content {
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  padding: 0;
}

@media (max-width: 768px) {
  .section-intro {
    height: 776px;
  }
}

@media (max-width: 320px) {
  .section-intro {
    height: 800px;
  }
}

.section-intro:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/images/grid.png);
  background-size: 160px;
  background-repeat: repeat;
  opacity: 0.5;
  z-index: 0;
  height: 917px;
}

@media (max-width: 768px) {
  .section-intro:before {
    height: 717px;
  }
}

.section-intro .first-background {
  position: absolute;
  top: -300px;
  left: 30%;
  display: flex;
  width: 1237.733px;
  height: 1580.071px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-image: url(assets/images/backg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .section-intro .first-background {
    width: 782.054px;
    height: 1130.362px;
    top: -76px;
  }
}

@media (max-width: 768px) {
  .section-intro .first-background {
    width: 782.054px;
    height: 1130.362px;
    top: -76px;
    left: 170px;
  }
}

@media (max-width: 425px) {
  .section-intro .first-background {
    width: 580px;
    height: 840px;
    top: 0px;
    left: 10px;
  }
}

.section-intro .second-background {
  position: absolute;
  top: -150px;
  left: 14%;
  background-image: url(assets/images/backg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 2135.855px;
  height: 1440.413px;
  transform: rotate(4.344deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .section-intro .second-background {
    width: 1658.951px;
    height: 1118.79px;
    top: 0px;
    left: 20px;
  }
}

@media (max-width: 768px) {
  .section-intro .second-background {
    width: 1058.951px;
    height: 1118.79px;
    top: 0px;
    left: 20px;
  }
}

@media (max-width: 425px) {
  .section-intro .second-background {
    width: 682.951px;
    height: 883.79px;
    top: 0px;
    left: 7px;
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(1224px + 160px); 
  margin: 0 auto;
  padding: 0 80px;
  margin-top: 127px;
}

@media (max-width: 768px) {
  .intro-container {
    padding: 0 40px;
    margin-top: 98px;
  }
}

@media (max-width: 425px) {
  .intro-container {
    margin-top: 32px;
    padding: 0 24px;
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  width: 655px;
  z-index: 1;
}

@media (max-width: 768px) {
  .logo-container {
    max-width: 435px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .logo-container {
    max-width: 312px;
    width: 100%;
    gap: 24px;
  }
}

@media (max-width: 320px) {
  .logo-container {
    max-width: 280px;
    width: 100%;
  }
}

.logo-container .soshi-logo {
  width: 319px;
  height: 159.896px;
  flex-shrink: 0;
  margin-bottom: 28px;
}

@media (max-width: 768px) {
  .logo-container .soshi-logo {
    width: 188px;
    height: 94.234px;
    margin-bottom: 8px;
  }
}

@media (max-width: 425px) {
  .logo-container .soshi-logo {
    width: 120px;
    height: 60.149px;
    margin-bottom: 12px;
  }
}

.logo-container .intro-description {
  color: #F7F7F7;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.70);
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.section-about {
  background-color: #1C1C1C;
  height: auto;
  position: relative;
  overflow: hidden;
}

.section-about:before {
  content: '';
  position: absolute;
  top: 216px;
  left: -393px;
  width: 2356px;
  height: 2133px;
  background-image: url(assets/images/print.png);
  background-repeat: no-repeat;
  background-size: 99%;
  z-index: 0;
}

.section-about .section-title {
  margin-top: 120px;
  margin-bottom: 108px;
}

.section-end {
  background-color: #141414;
  height: 766px;
  position: relative;
}

@media (max-width: 620px) {
  .section-end {
    height: 720px;
  }
}

.section-end:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/images/grid.png);
  background-size: 160px;
  background-repeat: repeat;
  opacity: 0.5;
  z-index: 0;
}

.section-end .section-content {
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  padding: 0;
}

@media (max-width: 620px) {
  .section-end {
    height: 720px;
  }
}

@media (max-width: 425px) {
  .section-end {
    height: 800px;
  }
}

.section-end .third-background {
  position: absolute;
  top: -133px;
  left: 8%;
  width: 2500px;
  height: 966px;
  transform: rotate(3.096deg);
  background-image: url(assets/images/backg3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (min-width: 2220px) {
  .section-end .third-background {
    top: -150px;
    left: 24%;
    width: 1900px;
    height: 986px;
  }
}

@media (max-width: 1280px) {
  .section-end .third-background {
    top: -150px;
    left: 1px;
    width: 1900px;
    height: 986px;
  }
}

@media (max-width: 768px) {
  .section-end .third-background {
    top: -150px;
    left: -135px;
    width: 1900px;
    height: 986px;
  }
}

.section-end .end-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(1224px + 160px); 
  margin: 0 auto;
  padding: 0 80px;
  box-sizing: border-box;
  margin-top: 170px;
}

@media (max-width: 768px) {
  .section-end .end-container {
    margin-top: 52px;
    padding: 0 40px;
  }
}

@media (max-width: 425px) {
  .section-end .end-container {
    margin-top: 24px;
    padding: 0 24px;
  }
}

.section-end .end-content {
  display: flex;
  width: 1223px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .section-end .end-content {
    width: 624px;
  }
}

@media (max-width: 768px) {
  .section-end .end-content {
    max-width: 549px;
    width: 100%;
  }
}

.end-content .end-description {
  color: #F7F7F7;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.60);
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 624px;
}

@media (max-width: 768px) {
  .end-content .end-description {
    max-width: 549px;
    width: 100%;
  }
}

.end-content .end-ready {
  color: #F7F7F7;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.60);
  font-family: "IBM Plex Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #B8D500;
  padding: 24px 16px;
  align-items: center;
  gap: 4px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-row p {
  text-align: center;
}

.footer-content .footer-text {
  font-family: "Inter";
  font-weight: 600;
  color: #141414;
  font-size: 16px;
  line-height: 20px;
}

.footer-content a {
  text-decoration: underline;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 172px;
}

@media (max-width: 1512px) {
  .card-list {
    margin-bottom: 105px;
  }
}

@media (max-width: 768px) {
  .card-list {
    gap: 88px;
  }
}

.card {
  display: flex;
  padding: 44px 80px 64px 130px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 40px;
  background: var(--color-grey-910, #151515);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15) inset;
  position: relative;
}

@media (max-width: 1512px) {
  .card {
    padding: 44px 80px 64px 80px;
  }
}

@media (max-width: 425px) {
  .card {
    padding: 40px 32px;;
  }
}

.card-title {
  text-shadow: 0px 0px 20px #000000b2;
  font-family: "IBM Plex Mono";
  font-weight: 600;
  font-style: normal;
  color: #F7F7F7;
  font-size: 32px;
  line-height: 70px;
}

@media (max-width: 768px) {
  .card-title {
    line-height: 40px;
  }
}

@media (max-width: 425px) {
  .card-title {
    font-size: 24px;
    line-height: 40px;
  }
}

.soshi-paragraph {
  text-shadow: 0px 0px 20px #000000b2;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  color: #F7F7F7;
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
}

.card-image {
  position: absolute;
  top: 20px;
  left: -2%;
}

@media (max-width: 1520px) {
  .card-image {
    top: 20px;
    left: -4%;
  }
}

@media (max-width: 1180px) {
  .card-image {
    top: 20px;
    left: -6%;
  }
}

@media (max-width: 900px) {
  .card-image {
    top: 20px;
    left: -8%;
  }
}

@media (max-width: 768px) {
  .card-image {
    top: -70px;
    left: 34px;
  }
}

@media (max-width: 425px) {
  .card-image {
    top: -43px;
    left: 34px;
    width: 72px;
    height: 72px;
  }
}

@media (min-width: 769px) and ( max-width: 1520px) {  
  .showcase-image {
    top: 64px;
  }
}


.hand-image {
  position: absolute;
  top: 46px;
  left: -4%;
}

@media (max-width: 1520px) {
  .hand-image {
    top: 46px;
    left: -5%;
  }
}

@media (max-width: 1180px) {
  .hand-image {
    top: 46px;
    left: -7%;
  }
}

@media (max-width: 900px) {
  .hand-image {
    top: 46px;
    left: -10%;
  }
}

@media (max-width: 768px) {
  .hand-image {
    top: -52px;
    left: 34px;
  }
}

@media (max-width: 425px) {
  .hand-image {
    top: -40px;
    left: 34px;
    width: 72px;
    height: 72px;
  }
}

.waitlist-button {
  display: flex;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  border: 1px solid #B8D500;
  background: #B8D500;
  color: #141414;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
}
